@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italiana&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');
header{
    text-align: center;
    font-size: 3em;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
.navbar {
    font-size: 1.2em;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    background-color: #390517;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #e0e0e0;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
    
}